# ========================
# Backend (Python)
# ========================
backend/venv/
backend/__pycache__/
backend/.env

# ========================
# Frontend (React / Vite)
# ========================
frontend/node_modules/
frontend/dist/
frontend/.env